# ── PostgreSQL ─────────────────────────────────────────────────
DB_PASSWORD=
DB_NAME=bagithr
DATABASE_URL=postgresql+psycopg2://postgres:password@db:5432/bagithr

# ── MongoDB (eksternal) ───────────────────────────────────────
MONGO_URI=mongodb://root:password@host.containers.internal:27017/bagithr_indexer?authSource=admin

# ── App ───────────────────────────────────────────────────────
APP_ENV=production
